<footer class="footer pt-3 pb-5 mt-5">
  <div class="container d-flex justify-content-around flex-column flex-md-row text-center text-md-start mt-3">
    <div>
      <img class="logo mx-auto" src="/img/logos/guaparo.jpg" alt="Guaparo" />
      <h3 class="h3 text-center mt-2">C.C. Guaparo</h3>
    </div>
    <div class="vr d-none d-md-block mx-3"></div>
    <hr class="d-md-none my-3" />
    <div>
      <h4 class="h4 mb-3">Contacto</h4>
      <p class="mb-1">
        <i class="bi bi-geo-alt-fill"></i> Calle Cualquiera 123, Cualquier Lugar
      </p>
      <p class="mb-1">
        <i class="bi bi-telephone-fill"></i> 91-1234-567 | +34-91-1234-567
      </p>
      <p class="mb-1">
        <i class="bi bi-envelope-at-fill"></i> hola@unsitiogenial.es
      </p>
    </div>
    <div class="vr d-none d-md-block mx-3"></div>
    <hr class="d-md-none my-3" />
    <div>
      <h4 class="h4 mb-3">Siguenos</h4>
      <a class="text-decoration-none gp-link-primary" href="#" target="_blank" rel="nofollow">
        <i class="bi bi-instagram fs-4 d-inline-block mx-1"></i>
      </a>
      <a class="text-decoration-none gp-link-primary" href="#" target="_blank" rel="nofollow">
        <i class="bi bi-facebook fs-4 d-inline-block mx-1"></i>
      </a>
      <a class="text-decoration-none gp-link-primary" href="#" target="_blank" rel="nofollow">
        <i class="bi bi-telegram fs-4 d-inline-block mx-1"></i>
      </a>
      <a class="text-decoration-none gp-link-primary" href="#" target="_blank" rel="nofollow">
        <i class="bi bi-youtube fs-4 d-inline-block mx-1"></i>
      </a>
      <a class="text-decoration-none gp-link-primary" href="#" target="_blank" rel="nofollow">
        <i class="bi bi-twitter-x fs-4 d-inline-block mx-1"></i>
      </a>
    </div>
  </div>
</footer>
