{% macro linkMenu(href, textContent, page) %}
  {% if page === currentPage %}
    <li class="nav-item">
      <a class="nav-link active p-3" href="{{ href }}" aria-current="page">
        {{ textContent }}
      </a>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link p-3" href="{{ href }}">{{ textContent }}</a>
    </li>
  {% endif %}
{% endmacro %}

<nav
  class="navbar bg-dark opacity navbar-expand-md d-flex justify-content-between p-0 fixed-top"
  id="menu"
  data-bs-theme="dark"
>
  <div class="container">
    <a class="navbar-brand p-0" href="/">
      <img class="menu-logo" src="/img/logos/guaparo.jpg" alt="Bootstrap" />
    </a>
    {# <button
      id="btn-menu"
      class="navbar-toggler m-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#nav-menu"
      aria-controls="nav-menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> #}
    <button
      id="btn-menu"
      class="navbar-toggler m-2 border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#nav-menu"
      aria-controls="nav-menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="hamburger">
        <span class="hamburger-bar bar-1"></span>
        <span class="hamburger-bar bar-2"></span>
        <span class="hamburger-bar bar-3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="nav-menu">
      <ul class="navbar-nav ms-auto">
        {{ linkMenu("/", "Inicio", "home") }}
        {{ linkMenu("/nosotros", "Nosotros", "about") }}
        {{ linkMenu("/directorio", "Directorio", "directory") }}
        {{ linkMenu("/contacto", "Contacto", "contact") }}
      </ul>
    </div>
  </div>
</nav>
