<div class="container-fluid fixed-top">
  <nav
    class="navbar opacity navbar-expand-md bg-body-tertiary d-flex justify-content-between px-4"
    id="menu"
  >
    <a class="navbar-brand" href="/">
      <img
        src="/img/logos/guaparo.jpg"
        alt="Bootstrap"
        width="30"
        height="24"
      />
    </a>
    <button
      id="btn-menu"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#nav-menu"
      aria-controls="nav-menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav-menu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Directorio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
