---
tags: banners
order: 3
---

<img class="main-carousel__img" src="/img/cc3.jpg" alt="centro comercial" />
<div
  class="main-carousel__body align-items-center justify-content-center justify-content-md-start px-5"
>
  <h2 class="main-carousel__title display-3 fw-bold text-center text-md-start">
    Prepara tus viaje con nosotros
  </h2>
</div>
