---
layout: layout.njk
sectionTitle: "Acerca de nosotros"
permalink: /nosotros/
currentPage: about
scripts: ["/js/section-header.js"]
---

{% include "header-section.njk" %}

<section class="full-section">
  <div class="container row row-cols-1 row-cols-lg-2">
    <div class="col">
      <img class="img-fluid rounded mb-3" src="/img/tienda.jpg" alt="tienda" />
    </div>
    <article class="col">
      <h2 class="h2 text-primary mb-3">¿Quiénes somos?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At sequi,
        laboriosam perferendis quas blanditiis numquam omnis provident assumenda
        ipsum quidem nobis repellendus suscipit veritatis! Odio facilis nam
        suscipit nulla molestiae?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At sequi,
        laboriosam perferendis quas blanditiis numquam omnis provident assumenda
        ipsum quidem nobis repellendus suscipit veritatis! Odio facilis nam
        suscipit nulla molestiae?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At sequi,
        laboriosam perferendis quas blanditiis numquam omnis provident assumenda
        ipsum quidem nobis repellendus suscipit veritatis! Odio facilis nam
        suscipit nulla molestiae?
      </p>
    </article>
  </div>
</section>

<section class="full-section bg-body">
  <div class="container row row-cols-1 row-cols-lg-2">
    <article class="col">
      <h2 class="h2 text-body mb-3">Estamos comprometidos contigo</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rerum
        fuga aliquam eaque quam nemo ea reprehenderit. Repellendus aut
        praesentium cum, veniam est ab, necessitatibus accusamus quam deleniti,
        fugit eaque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rerum
        fuga aliquam eaque quam nemo ea reprehenderit. Repellendus aut
        praesentium cum, veniam est ab, necessitatibus accusamus quam deleniti,
        fugit eaque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rerum
        fuga aliquam eaque quam nemo ea reprehenderit. Repellendus aut
        praesentium cum, veniam est ab, necessitatibus accusamus quam deleniti,
        fugit eaque.
      </p>
    </article>
    <div class="col">
      <div class="row g-3">
        <div class="col-6">
          <img class="img-fluid rounded" src="/img/tienda.jpg" alt="guaparo" />
        </div>
        <div class="col-6">
          <img class="img-fluid rounded" src="/img/tienda.jpg" alt="guaparo" />
        </div>
        <div class="col-12">
          <img class="img-fluid rounded" src="/img/tienda.jpg" alt="guaparo" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="full-section">
  <div class="container row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-5 gx-3 gx-lg-5">
    <div class="col">
      <article class="card card-md shadow border-0">
        <img
          class="card-img-top img-fluid"
          src="/img/tienda.jpg"
          alt="guaparo"
        />
        <div class="card-body">
          <h3 class="card-title text-primary">Titulo</h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
            commodi culpa in obcaecati quis quaerat aperiam eveniet dolore
            assumenda dolores vel impedit vitae architecto quae modi totam
            veritatis, ut sapiente.
          </p>
        </div>
      </article>
    </div>
    <div class="col">
      <article class="card card-md shadow border-0">
        <img
          class="card-img-top img-fluid"
          src="/img/tienda.jpg"
          alt="guaparo"
        />
        <div class="card-body">
          <h3 class="card-title text-primary">Titulo</h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
            commodi culpa in obcaecati quis quaerat aperiam eveniet dolore
            assumenda dolores vel impedit vitae architecto quae modi totam
            veritatis, ut sapiente.
          </p>
        </div>
      </article>
    </div>
    <div class="col">
      <article class="card card-md shadow border-0">
        <img
          class="card-img-top img-fluid"
          src="/img/tienda.jpg"
          alt="guaparo"
        />
        <div class="card-body">
          <h3 class="card-title text-primary">Titulo</h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
            commodi culpa in obcaecati quis quaerat aperiam eveniet dolore
            assumenda dolores vel impedit vitae architecto quae modi totam
            veritatis, ut sapiente.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>

<section class="section-bg-img" style="--url: /img/tienda.jpg">
  <div class="section-bg-filter">
    <div class="full-section">
      <div class="text-white w-75 text-center">
        <blockquote class="display-3 mb-5">
          "Despues de comer ya no tengo hambre"
        </blockquote>
        <h3 class="display-5 text-end">--Un gordito--</h3>
      </div>
    </div>
  </div>
</section>
