---
layout: layout.njk
script: /js/directory.js
sectionTitle: Directorio
---

{% include "header-section.njk" %}

<section class=" row p-5">
  <aside class="col-3">
    <form class="form-filter-shops">
      <fieldset>
        <legend>Filtros</legend>
        {% for category in categories %}
          <div class="mb-2 ps-3">
            <div class="form-check">
              <input
                class="form-check-input js-check-filter"
                type="checkbox"
                id="check-{{ category }}"
                value="{{ category }}"
              />
              <label class="form-check-label" for="check-{{ category }}">
                {{ category }}
              </label>
            </div>
          </div>
        {% endfor %}
        <div class="d-grid gap-2 mt-3">
          <button
            type="button"
            id="btn-show-all"
            class="btn btn-outline-primary"
          >
            Mostrar todos
          </button>
          <button type="button" id="btn-apply-filter" class="btn btn-primary">
            Aplicar
          </button>
        </div>
      </fieldset>
    </form>
  </aside>
  <section class="col-9" id="shops-card-target"></section>
</section>
