---
layout: layout.njk
logosCounts:
  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
scripts: ["/js/index.js", "/js/menu.js"]
---

<div id="gp-carousel" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#gp-carousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#gp-carousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#gp-carousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/cc1.jpg" class="carousel__img" alt="centro comercial" />
      <div
        class="carousel__content align-items-center justify-content-center justify-content-md-start px-5"
      >
        <h2 class="carousel-title display-1 fw-bold text-center text-md-start">
          Disfruta de nuestro menú
        </h2>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/img/cc2.jpg" class="carousel__img" alt="cnetro comercial" />
      <div
        class="carousel__content align-items-center justify-content-center justify-content-md-start px-5"
      >
        <h2 class="carousel-title display-1 fw-bold text-center text-md-start">
          Realiza tus tramites bancarios
        </h2>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/img/cc3.jpg" class="carousel__img" alt="centro comercial" />
      <div
        class="carousel__content align-items-center justify-content-center justify-content-md-start px-5"
      >
        <h2 class="carousel-title display-1 fw-bold text-center text-md-start">
          Prepara tus viaje con nosotros
        </h2>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#gp-carousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#gp-carousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="bg-section my-5 row g-0 gx-md-5">
  <div class="col-12 col-md-6 col-lg-8">
    <img class="full-section__img" src="/img/cc1.jpg" alt="centro comercial" />
  </div>
  <div class="col-12 col-md-6 col-lg-4 p-3">
    <h3 class="h3">C.C Guaparo</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam,
      quibusdam quaerat nisi iste ullam facilis natus impedit animi, vel quam
      similique temporibus distinctio fuga corporis saepe ratione corrupti nulla
      odio? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi
      exercitationem facere id, cumque ratione iusto officia nulla laboriosam
      odio impedit itaque quia consectetur molestiae veritatis non obcaecati.
      Aspernatur, adipisci facilis.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sapiente
      ipsam praesentium quae, illum amet iste doloremque perferendis dolore
      itaque distinctio quo, aliquam consequatur consectetur. Placeat cum omnis
      consequuntur ipsam!
    </p>
  </div>
</section>

<section class="my-5 overflow-hidden">
  <div class="d-flex justify-content-between align-items-end px-5">
    <h2 class="h2">Nuestras tiendas</h2>
    <a href="#">ver directorio -></a>
  </div>
  <div class="shops-tape my-3">
    <div class="shops-tape__mask">
      <div class="shops-tape__anim d-flex">
        {% for i in logosCounts %}
          <article class="shop-logo-card mx-4 my-5">
            <img src="img/logos/guaparo.jpg" alt="Guaparo" height="80" />
          </article>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="shops-tape my-3">
    <div class="shops-tape__mask">
      <div class="shops-tape__anim reverse d-flex">
        {% for i in logosCounts %}
          <article class="shop-logo-card mx-4 my-5">
            <img src="img/logos/guaparo.jpg" alt="Guaparo" height="80" />
          </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="h2 text-center mb-4">Nuestros servicios</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3 g-lg-4">
      <div class="col">
        <article class="card-service d-flex border rounded">
          <div>
            <i class="bi bi-shield-check fs-1 fw-bold mx-3"></i>
          </div>
          <div>
            <h4 class="h4">Seguridad</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Exercitationem itaque perferendis perspiciatis molestiae, repellat
              dolorem ratione. Dolor possimus expedita repellendus quae ad
              quaerat animi mollitia. Optio reiciendis hic similique iure.
            </p>
          </div>
        </article>
      </div>
      <div class="col">
        <article class="card-service d-flex border rounded">
          <div>
            <i class="bi bi-question-square fs-1 fw-bold mx-3"></i>
          </div>
          <div>
            <h4 class="h4">Objetos perdidos</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Exercitationem itaque perferendis perspiciatis molestiae, repellat
              dolorem ratione. Dolor possimus expedita repellendus quae ad
              quaerat animi mollitia. Optio reiciendis hic similique iure.
            </p>
          </div>
        </article>
      </div>
      <div class="col">
        <article class="card-service d-flex border rounded">
          <div>
            <i class="bi bi-car-front-fill fs-1 fw-bold mx-3"></i>
          </div>
          <div>
            <h4 class="h4">Estacinamiento</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Exercitationem itaque perferendis perspiciatis molestiae, repellat
              dolorem ratione. Dolor possimus expedita repellendus quae ad
              quaerat animi mollitia. Optio reiciendis hic similique iure.
            </p>
          </div>
        </article>
      </div>
      <div class="col">
        <article class="card-service d-flex border rounded">
          <div>
            <span class="fs-1 fw-bold mx-3 d-inline-flex">
              <i class="bi bi-person-standing"></i>
              <i class="bi bi-person-standing-dress"></i>
            </span>
          </div>
          <div>
            <h4 class="h4">Sanitarios</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Exercitationem itaque perferendis perspiciatis molestiae, repellat
              dolorem ratione. Dolor possimus expedita repellendus quae ad
              quaerat animi mollitia. Optio reiciendis hic similique iure.
            </p>
          </div>
        </article>
      </div>
      <div class="col">
        <article class="card-service d-flex border rounded">
          <div>
            <i class="bi bi-person-arms-up fs-1 fw-bold mx-3"></i>
          </div>
          <div>
            <h4 class="h4">Zona de niños</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Exercitationem itaque perferendis perspiciatis molestiae, repellat
              dolorem ratione. Dolor possimus expedita repellendus quae ad
              quaerat animi mollitia. Optio reiciendis hic similique iure.
            </p>
          </div>
        </article>
      </div>
      <div class="col">
        <article class="card-service d-flex border rounded">
          <div>
            <i class="bi bi-cookie fs-1 fw-bold mx-3"></i>
          </div>
          <div>
            <h4 class="h4">Mascotas</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Exercitationem itaque perferendis perspiciatis molestiae, repellat
              dolorem ratione. Dolor possimus expedita repellendus quae ad
              quaerat animi mollitia. Optio reiciendis hic similique iure.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section-schedule my-5 p-5 text-center text-md-start">
  <h2 class="display-1 fw-bold">Horarios</h2>
  <p class="fs-1 mb-0 mt-5">10:00 A.M a 9:00 P.M.</p>
  <p class="fs-3 mt-0">Lunes a sábados</p>
  <p class="fs-1 mb-0 mt-5">12:00 A.M. a 8:00 P.M.</p>
  <p class="fs-3 mb-0">Domingo y feriados</p>
</section>

<section class="bg-section row my-5 g-0 g-sm-3">
  <div class="col col-12 col-sm-6 col-lg-8 position-relative align-self-center">
    <img class="img-fluid" src="/img/tienda.jpg" alt="Locales" />
    <a
      href="#"
      class="btn-fancy position-absolute top-50 start-50 translate-middle fs-5 d-none d-md-inline-flex"
    >
      Mira nuestros locales disponibles
      <i class="btn-fancy__icon bi bi-arrow-right"></i>
    </a>
  </div>
  <div class="col order-sm-first col-12 col-sm-6 col-lg-4 p-4">
    <h2 class="fs-1 mb-5 mx-3 text-center text-sm-start">
      ¿Interesado en abrir una tienda con nosotros?
    </h2>
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
    </ul>
    <a href="#" class="btn-fancy fs-5 d-md-none">
      Mira nuestros locales disponibles
      <i class="btn-fancy__icon bi bi-arrow-right"></i>
    </a>
  </div>
</section>

<section class="section-location row position-relative">
  <div class="col col-12 col-md-7 col-lg-9">
    <img class="img-fluid" src="/img/mapa.jpg" alt="Mapa" />
  </div>
  <article class="location">
    <div class="location__body">
      <h2 class="h2">Ubicanos</h2>
      <p class="fs-5">
        <i class="bi bi-geo-alt-fill"></i> Calle Cualquiera 123, Cualquier Lugar
      </p>
      <p class="fs-5">
        <i class="bi bi-telephone-fill"></i> 91-1234-567 | +34-91-1234-567
      </p>
      <p class="fs-5">
        <i class="bi bi-envelope-at-fill"></i> hola@unsitiogenial.es
      </p>
    </div>
  </article>
</section>
